<div class="gb_entry">
	<div class="gb_entry_body">
		<div class="gb_entry_header">
			<div class="gb_entry_header_left">
				<div>
					<strong>###entryinpreview###</strong> ###from_person### <strong>###NAME###</strong> 
					<!--###FROM_START###-->###from_city### ###CITY###<!--###FROM_END###--> 
				</div>
				<div>
					###wrote_date### ###DATE### ###wrote_time### ###TIME### ###o_clock###
				</div>
			</div>
			<div class="gb_entry_header_right">
				<!--###EMAIL_START###--><a class="gb_entry_email" href="###EMAIL###">&nbsp;</a><!--###EMAIL_END###-->
				<!--###WEB_START###--><a target="_blank" class="gb_entry_web" href="###WEB###">&nbsp;</a><!--###WEB_END###-->
			</div>
			<div class="gb_clear"></div>
		</div>
		<div class="gb_entry_text">
			<p>###TEXT###</p>
		</div>
		<!--###COMMENT_START###-->
		<div class="gb_entry_comment">
			<p class="gb_entry_comment_header"><strong>###comment###</strong>, ###COMMENT_DATE### ###wrote_time### ###COMMENT_TIME### ###o_clock###</p>
			<p>###COMMENT###</p>
		</div>
		<!--###COMMENT_END###-->
	</div>
</div>