<div class="container banner">
    <img class="banner-image" src="../../../images/Online/Banner_5-german-1.jpg" alt="Banner" width="2557" height="465">
</div>

<style>
    /* This element will == the height of the image */
    .banner {
        position: relative;
    }

    /* This element is the background image */
    .banner-image {
        width: 100%;
        height: auto;
        position: static;
        padding-bottom: 20px;
    }
</style>


<h1>###guestbook###</h1>

###MESSAGE###

<p class="gb_new_entry_link">
	<a href="###LINK###">[ ###create_new_entry### ]</a>
    <a style="float: right;" href="../../../index_german.html">[ Zurück zur Hauptseite ]</a>
</p>		

###PAGEBROWSER###

<div class="gb_entries">
	###ENTRIES###
</div>

###PAGEBROWSER###

<div style="font-size:12px; text-align:center"><!-- Dieser Copyrighthinweis darf NICHT entfernt werden. --><br /><br />###guestbook_copyright###: &copy; ###copyright### | <strong><a href="guestbook/admin.php" style="text-decoration: none;">Administration</a></strong></div>

<div style="font-size:12px; text-align:center"><!-- Diese Werbeanzeige darf NICHT entfernt werden. --><strong><a href="http://www.kontaktformular.com" style="text-decoration: none;" title="Kontaktformular">Kontaktformular</a></strong> mit Spamschutz f&uuml;r Ihre Website</div>