<h1>###guestbook### - ###preview###</h1>

###PREVIEW###

<form action="###FORM_ACTION###" method="post" accept-charset="UTF-8" class="gb_form_preview">
	<input type="hidden" name="sessid" value="###SID###" />
	<input type="hidden" name="time" value="###TIME###" />
	<input type="hidden" name="gb_action" value="save" />


	<div class="gb_form_buttons">
		<p class="gb_form_submit">
			<input type="submit" value="###save###" />
		</p>
		<p class="gb_form_button">
			<a href="###BACK_LINK###">
				<input onclick="document.location.href='###BACK_LINK###';" type="button" value="###change###">
			</a>
		</p>
	</div>
</form>